*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background-color: #0F5474;
  color: #FFFAFF; }

.main {
  height: 100vh; }

  .container {
  position: relative;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }